<section class="wrap position-absolute top-50 start-50 translate-middle border border-2 login_register-bg login_register-shadow">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col">
            <img src="./images/banner.svg" alt="banner.svg">
        </div>
        <div class="col">
            <div style="max-width: 373px;" class="text-center m-auto">
                <h1 class="login_register_title mb-0 text-primary fw-bold login_register-fs">MetaWall</h1>
                <h2 class="h4 mb-6">到元宇宙展開全新社交圈</h2>
                <input type="text" style="height: 51px;" class="mb-3 d-inline-block form-control border border-2 border-dark" placeholder="Email">
                <input type="password" style="height: 51px;" class="mb-5 d-inline-block form-control border border-2 border-dark" placeholder="Password">
                <button type="button" style="height: 54px; box-shadow: -2px 2px 0 #000400;" class="mb-3 w-100 btn btn-primary border border-2 border-dark">登入</button>
                <a href="/register.html" class="text-dark text-decoration-none">註冊帳號</a>
            </div>
        </div>
    </div>
</section>
