<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <%- include('./layout/_header.ejs', {title: '登入'}) %>
</head>
<body>
    <!-- body -->
    <%- include('./pages/_login.ejs')%>
    <!-- script -->
    <%- include('./layout/_script.ejs')%>
</body>
</html>
